<div style="">
    <!--
    <strong data-bind="text: test"></strong>
    <strong data-bind="text: testar"></strong>
    -->

    <div class="fileSelect">
        <div style="position: relative">Please select one of the predefined files</div>
        <select style="position: relative" id="fileSelector"></select>
    </div>

    <div style="position: relative; margin-top: 30px">
        <div id="currentFileName">CurrentFileName</div>
        <table id="sudokuBoard"></table>
    </div>

    <div class="toLeftCornerOfBoardButtons" style="clear: both">
        <button class="sodoukuButtons" id="solveButton" type="button">Solve</button>
        <button class="sodoukuButtons" id="checkButton" type="button">Check</button>
        <button class="sodoukuButtons" id="resetButton" type="button">Reset</button>
    </div>

    <div class="checkMessage">
        <div id="validationMessage" class="message"></div>
    </div>
</div>